fastapi==0.116.1
uvicorn[standard]==0.35.0

SQLAlchemy==2.0.42
asyncpg==0.28.0
psycopg2-binary==2.9.9
alembic==1.13.2

pydantic==2.11.7
pydantic-settings==2.12.0

numpy==1.26.4
torch==2.2.2
sentence-transformers==3.0.1
transformers==4.41.2
scikit-learn==1.5.1

qdrant-client==1.9.1
groq==0.9.0

httpx==0.28.1
python-dotenv==1.0.0
python-multipart==0.0.9
ujson==5.11.0